header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccc;
    display: flex;

}
header a{
    background-image: url(../images/logo.png);
    display: block;
    width: 142px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
}
